/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    /* colors */
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --black: #000;
    --white: #fff;

    /* font-size */
    --title-font-size: 1.375rem;
    --body-font-size: 1rem;
    --body-highlight-font-size: 1.125rem;

    /* font-weight */
    --body-font-weight: 400;
    --body-highlight-font-weight: 700;
    --title-font-weight: 700;
}

.fa-solid {
    color: var(--main-color);
    margin-right: 0.62rem;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 90rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.88rem;
}

main {
    padding: 0 3.12rem;
    display:flex;
    flex-direction: column;
    gap: 2.19rem;
}
.section-title {
    margin: 0;
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
}

a {
    text-decoration: none;
    color: var(--black);
    margin: 0;
    padding: 0;
}

.card {
    background-color: white;
    border-radius: 1.25rem;
    padding: 0.313rem;
    filter: drop-shadow(0px 0.188rem 0.938rem rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    color: var(--black);
    font-size: var(--body-font-size);
    font-weight: var(--body-highlight-font-weight);
}

.euro {
    font-weight: var(--body-highlight-font-weight);
}

.neutral-star {
    color: var(--main-bg-color)
}

/************   HEADER  *********************/
.nav-bar{
    display: flex;
    padding-right: 0;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 4.94rem;
}

.nav-bar-logo {
    display: flex;
    padding: 1.875rem 3.125rem;
}

.nav-bar-logo img {
    width: 3.81813rem;
    height: 1.1875rem;
}

.nav-bar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: flex-start;
    padding: 0 1.5625rem;
    gap: 4.25rem;
}

.menu-item a {
    padding-top: 0.88rem;
}
.menu-item a:hover{
    border-top: solid 0.188rem var(--main-color);
    color: var(--main-color);
}

/****** Research section **********************/
.search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.1875rem;
    align-self: stretch;
}

.search-bar {
    display: flex;
    width: 23.5625rem;
    height: 3.0625rem;
    align-items: center;
}

.fa-location-dot, .input, .btn-search {
    display: block;
}

.fa-location-dot{
    background: var(--main-bg-color);
    color: #000;
    border-radius: 0.9375rem 0 0 0.9375rem;
    padding: 1.7rem 1.125rem;
    margin: 0;
}

.input /*placeholder*/ {
    text-align: center;
    text-decoration: none;
    padding: 1rem 0;
    border: none;
    background: var(--white, #FFF);
    border-top: 0.063rem solid var(--grey, #F2F2F2);
    border-bottom: 0.063rem solid var(--grey, #F2F2F2);
    font-size: 1.125rem;
    font-weight: var(--body-highlight-font-weight);
    width: 12rem;
}

::placeholder {
    color: var(--black, #000);
}

.input::-moz-placeholder/*firefox*/ {
    color: var(--black); 
}  

.input:focus::placeholder {
    color:transparent; 
}

.input:focus { /*to empty placeholder on focus*/
    outline: 0rem solid transparent;
}

.btn-search {
    padding: 0.94rem 1rem ;
    background-color: var(--main-color);
    border: 0.063rem solid var(--main-color);
    border-radius:0  0.9375rem 0.9375rem 0;
    color: var(--white, #FFF);
    font-size: 1.125rem;
    font-weight: var(--body-highlight-font-weight);
}

.filters {
    font-size: 1.0625rem;
    font-weight: var(--body-highlight-font-weight);
    display: flex;
    flex-flow: row wrap;
    display: flex;
    gap: 0.9375rem;
    height: 3.13rem;
}

.btn-filters  {
    color: #000;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
    padding: 0.25rem 1.1875rem;
    border-radius: 1.5625rem;
    border: 0.125rem solid var(--grey-tint-2, #D9D9D9);
}

.btn-filters:hover {
    background: var(--blue-light, #DEEBFF);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    align-self: stretch;
    gap: 2.5rem;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 1.25rem;
    padding: 1.875rem;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    padding: 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
    align-self: stretch;
}

.hebergements-cards {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
    padding: 0;
    margin: 0;
}

 .hebergements-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0.5rem;
    border-radius: 1.25rem;
    margin: 0;
 }

.hebergements-cards .card-img {
    display: flex;
    align-self: stretch;
    height: 7rem;
    margin: 0;
    padding: 0;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
}
.hebergements-cards .card img {
    height: 100%;
    width: 100%;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    border: 0.313rem solid var(--white, #FFF);
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0.9375rem;
    margin: 0;
    gap: 0.25rem;
    border-radius: 0 0 1.25rem 1.25rem;
}

.hebergements-cards .card-title{
    margin: 0.5rem 0;
    padding: 0;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    padding: 0;
    color: var(--black);
    font-size: 0.875rem;
    font-weight: var(--body-font-weight);
}

.hebergements-cards .card-rating {
    margin-top: 0.75rem;
    display: flex;
}

.fa-xs {
    width: 0.89338rem;
    height: 0.82813rem;
    margin: 0;
 }

.show-more a {
    text-decoration: none;
    color: var(--black);
    font-family: Raleway;
    font-size: 1.125rem;
    font-weight: 700;
 }

 .show-more a:hover {
    color: var(--main-color);
 }
/****** Populaires ***********/
.populaires {
    width: 32%;
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    align-self: stretch;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
    align-self: stretch;
}

.populaires-cards .card {
    display: flex;
    align-self: stretch;
}

.populaires-cards a {
    display: block;
    display: flex;
    width:100%;
    height:100%;
}

.populaires-cards img {
    width: 33%;
    height: 8.5rem;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 0.938rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 0.625rem;
    margin-bottom: 0.25rem;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    display: flex;
}

/***************** ACTIVITIES  ******************/
.activities {
    display: flex;
    padding: 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
    align-self: stretch;
    background-color: var(--white);
}

.activities-cards {
    display: flex;
    flex-shrink: 0;
    align-self: stretch;
    gap: 1.875rem;
}

.activities-cards .card {
    height: 27.4375rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 0;
    border-radius: 1.25rem;
    padding: 0;
    margin: 0;
}

.activities-cards .card-img {
    margin: 0;
    padding: 0;
    display: flex;
    height: 85%;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
}

.activities-cards .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
}

.activities-cards .card-title {
    display: flex;
    align-items: flex-start;
    flex: 1 0 0;
    text-align: start;
    padding: 1.25rem 1.19rem;
    margin: 0;
}

.activities-cards .card a {
    display: block;
    width:100%;
    height:100%;
}

/********** FOOTER ***************/

.footer {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: var(--grey, #F2F2F2);
    padding: 0;
}

.footer-card {
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9375rem;
    flex-grow: 1;
    align-self: stretch;
}

.footer-card-title, .footer-card-subtitle {
    margin: 0;
    padding: 0;
}

.footer-card a:hover {
    color: var(--main-color);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 1rem;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.813rem;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}